<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GDMapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D26C8C821CDC3B26007780D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D26C8C9B1CDC3B27007780D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D26C8CA61CDC3B27007780D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
